@media (max-width: 940px) {
    :root {
        --color-grey: #17202A;
        --color-light-grey: #808B96;
        --color-dark-grey: #171718;
        --color-text-grey: #d1d8e0;

    }

    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        text-decoration: none;
        text-decoration-style: none;
        list-style: none;
        font-family: 'Roboto', sans-serif;

    }

    .nav_label {
        display: block;
        cursor: pointer;

    }


    .nav_menu {
        position: fixed;
        top: 80px;
        margin-left: 25px;
        /* margin-right: 50px; */
        border-radius: 0px 0px 15px 15px;
        bottom: 0;
        background: var(--color-dark-grey);
        width: 80%;
        min-height: 150px;
        max-height: 500px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;


    }

    .nav_input:checked+.nav_menu {
        clip-path: circle(100% at center);
    }

    .comenzar h1 {
        min-width: 90%;
        max-width: max-content;
        font-size: 50px;
    }

    .gym_info {
        width: 100%;


    }

    .gym_info-div1,
    .gym_info-div2 {
        width: 50%;

    }

    .descripcion {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
    }

    .carta_instructores {
        width: 300px;
        padding: 0px 0px;

    }

    .carta_img {
        height: 250px;
        width: 300px;

    }

    .clases {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 0px 0px;

    }

    #clases_id {
        scroll-margin-top: 100px;
    }

    .clases_varias-carta {
        width: 60%;
        background: var(--color-light-grey);
        padding: 0px 0px;
        align-items: center;
        justify-content: center;
        
    }

    .clases_varias-carta img {
        height: 250px;
        width: 300px;
        padding: 10px 0px;
        border-radius: 25px;
    }

    .varias_box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        

    }

    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .formYUbicacion {
        width: 100%;
        /* padding: 0px 0px;   */
    }

    .form {
        width: 80%;

    }

    .ubicacion {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .mapouter {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        text-align: right;
        width: 100%;
        height: 100%;
        padding: 0px 0px;

    }

    .mainregistro {
        background-size: cover;
        background-position: center;
    }

    .footer_class img:nth-child(3) {
        padding: 5px;
        border-radius: 50px;

    }


}